*{
    font-size: 17px;
    font-family: 'Solway', serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none !important;
}

#carouselExampleCaptions{
    .carousel-caption{
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 20%;
            border-radius: 20px;
    }
    h1{
        color: rgb(29, 11, 11);
        font-size: 35px;
    }
    p{
        color: #000000;
        font-size: 30px;
    }
}
#meni{
    a{
        font-size:27px;
        color: rgb(96, 62, 104) !important;
    }
}

#kategorije,#mirisi,#kupi{
    h2{
    &::after{
        display: block;
        height: 5px;
        content: " ";
        text-shadow: none;
        background-color: #8D5A97;
        width: 30%;
        margin-left: 35%;
        border-radius: 5px;  
        margin-top: 10px;
    }
}}
label{
    color: #000;
    font-size: 25px;
}
#sneg{
    background-image: url('../img/sneg.gif');
    background-size: cover;
    .kartice,.korpa{
        .card{
            img{
                height:250px;
            }
        }
        a{
            border: 1px solid #907F9F;
        }
    }
    button{
        background-color: #BCC4DB;
    }
}
.btn{
    &:hover{
        background-color: rgba(255, 255, 255, 0.5);
    }
}
#mirisi,#forma{
    button{
        background-color: #BCC4DB;
    }
}
#favorito{
    background-image: url('../img/slajduj0.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 550px;
}
#izaForme{
    background-image: url('../img/zis.jpg');
    background-size: cover;
    background-position: center;
}
.povecaj{
    border: 0.5px solid rgb(209, 168, 168);
    display: table;
    width: 50%;
    float: left;
    input[type="text"]{
    display: inline-block;
    text-align:center;
    width: 100%;
    height: 40px;
    }
    .minus,.plus{
        font-size: 2em;
        display: table-cell;
        cursor: pointer;
        line-height: 1;
        vertical-align: middle;
        width: 30px;
        background-color: rgb(209, 168, 168);
    }
}

.dodaj{
    width: 30%;
    border: 0.5px solid rgb(209, 168, 168);
    float: left;
    height: 40px;
    cursor: pointer;
}

.prosoHover{
    position: relative;
  }
.slikaIspod {
    opacity: 1 ;
    display: block ;
    transition: .5s ease ;
    backface-visibility: hidden ;
  }
  
  .srednje {
    transition: .5s ease ;
    opacity: 0 ;
    position: absolute ;
    top: 50% ;
    left: 50% ; 
    transform: translate(-50%, -50%) ;
    -ms-transform: translate(-50%, -50%) ; 
    text-align: center ;
  }
  
.tekstPreko {
    background-color: #8D5A97 ;
    color: white ;
    font-size: 16px ;
    padding: 16px 32px ;
  }
  .opasiti{
      opacity: 1;
  }
  .opasitiSlike{
      opacity: 0.3;
  }
   #jelRadiOvo{
    height: 78%;
    position: relative;
        img{
            position: absolute;
        }
    }
#strelica{
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 1;
    i{
        color: #8D5A97;
        font-size: 2rem;
    }
}
#bojaFutera{
    background-color: #B98EA7;
    a{
        color: black;
    }
}
#forma{
    span{
        color: rgb(219, 45, 45);
    }
}

@media screen and (max-width:980px){
    #carouselExampleCaptions{
        .carousel-caption{
            background-color: rgba(255, 255, 255, 0.2);
            margin-bottom: 10%;
    }
    h1{
        color: rgb(84, 37, 94);
        font-size: 30px;
    }
    p{
        color: #000000;
        font-size: 25px;
    }
    
}

    
    #kategorije,.kartice,#mirisi,#karauselpa,#favorito.slicke{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:770px){
    
    #kategorije,.kartice,#mirisi,#karauselpa,#favorito{
        padding: 50px;
    }
    #futer{
        text-align: center;
    }
    #jelRadiOvo{
       height: 350px;
       img{
           height: 100%;
       }
    }
    .slicke{
        .col-md-6{
            padding: 0% !important;
        }
        figure{
            border: 1px solid #BCC4DB;
            padding: 20px 0px;
            
        }
    }
}
@media screen and (max-width:570px){
    #kategorije,#sneg{
        h2{
            font-size: 2em;
        }
    } 
    #ex1{
        img{
            width: 100%;
        }
        p{
            font-size:15px;
        }
    }
}

@media screen and (max-width:400px){
#ex1{
    
    p{
        font-size:13px;
    }
}
}



